.maincontainer{
width: 100%;


}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2%;
}
.logo
{
    color: #F55757;
    font-size: 3rem;
}
.navItems{
    display: flex;
    gap: 4vw;
}
.navitem{
    text-decoration: none;
    color: rgb(117, 114, 109);
    font-weight: 400;
}
.profile
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.profileicon {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    transition: height 0.3s ease, width 0.5s ease;
}

.profileicon:hover {
    cursor: pointer;
    height: 35px;
    width: 35px;
    border: 3px solid rgb(57, 242, 97);
}
.navitem:hover{
    border-bottom: 2px solid rgb(117, 114, 109);
}
.mobilenavItems{
    display: none;
}
.burgermenu{
    display: none;
}
.burgermenu:hover
{
    cursor: pointer;
}
@media (max-width: 768px) {
    .navItems{
        display: none;
    }
    .mobilenavItems {
        display: flex;
        flex-direction: column;
        position: fixed;
        justify-content: center;
        gap: 20px;
        right: 0;
        height: 50%;
        padding: 3rem;
        background-color: white;
        margin-top: 100px;
        width: 30%;
        z-index: 10;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
        border-radius: 5px;
    }
    

   .burgermenu{
    display: block;
   }
   .close{
    right: 0;
    margin-top: 10px;
    
   }
   .close:hover{
    cursor: pointer;
   }
}