.mainContainer{
    max-width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.container{
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.registerHead
{
    text-align: center;
    font-weight: 600;
    color: rgb(117, 114, 109);
}
.form {
    width: 500px;
  min-width: 350px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.formdiv{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.image{
    width: 70%;
    display: flex;

}
.carImage{
    height: 60vh;
}
.error
{
    color: red;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
}
.profileUpload
{
    color: rgb(117, 114, 109);
    font-size: medium;
    width: 100%;
    text-align: center;
}
.imagePreviewContainer
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageInputWrapper{ 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;

    padding: 5px;
}
.imageAdd
{
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.primaryImageInput
{
    display: none;
}
.imagePreview
{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
@media (max-width: 768px) {
    .image
    {
        display: none;
    }
    .container
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}