.container {
    padding: 20px;
    position: relative;
  }
  
  .title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: rgb(117, 114, 109);
  }
  
  .table {
    width: 100%;
    overflow-x: auto;
    border-collapse: collapse;
    margin-top: 20px; 
  }
  .sales{
    text-decoration: none;
  }
  .tableHeader {
    background-color: #f4f4f4;
    color: #333;
    text-align: left;
    padding: 10px;
  }
  
  .tableRowEven {
    background-color: #f9f9f9;
  }
  
  .tableRowHover:hover {
    background-color: #f1f1f1;
  }
  
  .tableCell {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    font-size: .8rem;
  }
  
  .amount {
    font-weight: bold;
    color: #2e7d32;
  }
  .buttonContainer {
    display: flex;
    gap: 10px;
  }
  
  .downloadButton {
    background-color: rgb(81, 80, 80);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 5px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    overflow: hidden;
  }
  
  .downloadButton span,
  .downloadButton svg {
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .downloadButton::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/assets/download.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgb(8, 158, 233);
  }
  
  .downloadButton:hover::after {
    opacity: 1;
  }
  
  .downloadButton:hover span,
  .downloadButton:hover svg {
    opacity: 0;
    transform: scale(0.5);
  }

  .headContainer
  {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
.buttonContainer
{
  display: flex;
  gap: 10px;
}
  .downloadButton:hover {
    background-color: rgb(43, 42, 42);
    cursor: pointer;
  }
  
  .returnedButton
  {
   background-color: greenyellow;
   color: white;
   width: 25px;
   height: 25px;
   margin-right: 10px;
  }
  .notreturnedButton
  {
    background-color: red;
    color: white;
    height: 25px;
    width: 25px;
  }
  .returnedButton,.notreturnedButton:hover
  {
    cursor: pointer;
    width: 26px;
    height: 26px;
  }
  .salesButton{
    background-color: rgb(81, 80, 80);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 5px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    overflow: hidden;
  }


  
.salesButton:hover {
  
    transition: opacity 0.3s ease;
    background-color: rgb(8, 158, 233);
  }

  @media (max-width: 768px) {
  }
  