.mainContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
   background-color: rgb(245, 247, 248);

}
.container{
    width: 60%;
    height: 76%;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 3%;
}
.form
{

    display: flex;
    flex-direction: column;
    width: 50%;
    gap:10px;
}
.inputbox{
    padding: 10px;
    border-radius: 5px;
}
.inputhead
{
    color: black;
    font-weight: bold;
    font-size: large;
}
.radioContainer{
    display: flex;
    gap: 10px;
}
.submitdata{
    background-color:#f17d7d;
    border: 1px solid black;
    height: 30px;
    border-radius: 5px;
    width: 100px;
    color: white;
    font-weight: bold;
}
.submitdata:hover{
    background-color: #F55757;
}